body
{
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
}

a.events
{
  color:#0C48A2;
  text-decoration:none;
}
a.events :hover
{
  color:#CD0B3D;
  text-decoration:none;
}
form
{
  margin:0px;
}
.textLabel
{
  color:#0C48A2;
  font-size:11px;
}

.fileBox
{
  border:1px solid #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  height:19px;
  width:225px;
}
.textBox {
	border:1px solid #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	 height:14px;
}

.textBoxWeblogin {

	border:1px solid #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding: 2px;
}
.textBoxWebloginDisabled {

	border:1px solid #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	background-color: #EEEEEE;
	padding: 2px;
}
.textBoxLong
{
 width:182px;
}

.textBoxHidden
{
  border:1px solid #ffffff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  height:14px;
  width:35px;
}
.textBoxLarge
{
  width:225px;
}
.textBoxMedLarge
{
  width:215px;
}
textBoxLargeWeblogin
{
  width:225px;
  margin:3px 0;
}

.textBoxLargest
{
  width:425px;
}
.textBoxSmall
{
  width:75px;
}

.textBoxSmallWeblogin
{
  width:75px;
  margin:2px 0;
}

.textBoxTiny
{
  width:50px;
}
.textBoxMedium{
 width:150px;
}

.textBoxMediumWeblogin{
 width:150px;
 margin:2px 0;
}

.textBoxPolicyNum{
	width:190px;
}
.textBoxSmallDisabled
{
  width:75px;
  border:1px solid #AAAAAA;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666666;
  background-color: #EEEEEE;
  height:14px;
}
.textBoxDisabled
{
  border:1px solid #AAAAAA;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666666;
  background-color: #EEEEEE;
  height:14px;
}
.selectBox
{
  border:1px solid #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  margin: 1px 0 0 0;
  height: 18px;
  padding: 0;
 }
*+html .selectBox {
	padding: 5px 0;
	height: 20px;
}
.selectBoxWeblogin
{
  border:1px solid #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;

}
*+html .selectBoxWeblogin {
	
}

.selectBoxDisabled
{	border:1px solid #AAAAAA;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666666;
  background-color: #EEEEEE;
  height:13px;
}
*+html .selectBoxDisabled {
	height: 20px;
}

.selectBoxDisabledWeblogin
{	border:1px solid #AAAAAA;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666666;
  background-color: #EEEEEE;
}

.selectBoxLarge
{
  width:250px;
  height:150px;
}
.selectBoxSmall
{
  width:95px;
}
.selectBoxMedium
{
 
  width:155px;
 height: 20px;
}
*+html .selectBoxMedium
{
 height: 20px
}
.selectBoxMoreMedium
{
  width:200px;
 height: 25px;

}
*+html .selectBoxMoreMedium
{
 height: 25px
}
.selectBoxMediumWeblogin
{
  width:155px;
}
*+html .selectBoxMediumWeblogin {
	
}

.selectBoxLargest
{
  width:250px;
  height:220px;
}

.selectBoxLargestWeblogin
{
  width:250px;
}
*+html .selectBoxLargestWeblogin{
	height: 30px;
}

.selectBoxLargestWebloginNew
{
  width:375px;
}
*+html .selectBoxLargestWebloginNew{
	height: 30px;
}

.selectBoxListLargest
{
  width:300px;
  height:150px;
}
.selectBoxListMoreLarger
{
  width:550px;
  height:150px;
}
.selectBoxListMoreLargest
{
  width:580px;
  height:150px;
}
.selectBoxListMoreLargest1
{
  width:780px;
  height:150px;
}
.headerLinks
{
  padding-right: 5px;
  padding-top: 3px;
}
a.headerLinks
{
  color: #000000;
  text-decoration:none;
}
a.headerLinks:hover
{
  color: #000000;
  text-decoration:underline;
}
a.helpCursor:hover
{
  cursor:help;
}
.headerInfo
{
  color: #000000;
  padding-right: 5px;
  padding-bottom: 3px;
  cursor:default;
}
.headerInfoValue
{
  color: #000000;
  font-weight:bold;
  text-decoration:none;
}
a.headerInfoValue
{
  color: #000000;
  font-weight:bold;
  text-decoration:none;
}
a:hover.headerInfoValue
{
  color: #000000;
  font-weight:bold;
  text-decoration:underline;
}
.mainContainerTable
{
  border-top:1px solid #FFFFFF;
}
.header
{
  background-color:#BAD2F4;
  background-image:url(../images/HeaderBg.gif);
}
.headerSeparator
{
  background-color:#FFFFFF;
  height:1px;
}
.headerLowerBand
{
  background-color:#CD0B3D;
  height:6px;
}
.leftNavigationBand
{
	background:#BAD2F4; 
	background-image:url(../images/LeftBg.gif);
}

.leftNavigationBandWeblogin
{
	background:#BAD2F4 url(../images/LeftBg.gif) right;
	padding-right:3px;
}

.footer
{
  font-size:9px;
  color:#041A68;
  background-color:#E6E9ED;
  border-top:1px solid #022665;
  padding-left:6px;
  padding-top:6px;
  padding-bottom:6px;
}
a.menuLink
{
  color:#000000;
  text-decoration:none;
}
a.menuLink:hover
{
  color:#CD0B3D;
  text-decoration:none;
}
.menu
{
  background-color:#EBEDF2;
  color:#000000;
  font-weight:normal;
  height:22px;
  padding-left:10px;
  border-bottom:1px solid #022665;
}
.currentMenu
{
  background-color:#022665;
  color:#FFFFFF;
  font-weight:bold;
  height:22px;
  padding-left:10px;
  border-bottom:1px solid #022665;
  cursor:default;
  background-image:url(../images/RightArrow.gif);
  background-repeat:no-repeat;
  background-position:left;

}
.submenu
{
  background-color:#FFFFFF;
  color:#000000;
  font-weight:normal;
  height:22px;
  padding-left:20px;
  border-bottom:1px solid #022665;
}
.level2submenu
{
  background-color:#FFFFFF;
  color:#000000;
  font-weight:normal;
  height:22px;
  padding-left:40px;
  border-bottom:1px solid #022665;
}
.currentlevel2submenu
{
  background-color:#FFFFFF;
  color:#022665;
  font-weight:bold;
  height:22px;
  padding-left:40px;
  border-bottom:1px solid #022665;
  cursor:default;
}
.currentSubMenu
{
  background-color:#FFFFFF;
  color:#CD0B3D;
  font-weight:bold;
  height:22px;
  padding-left:20px;
  border-bottom:1px solid #022665;
  cursor:default;
}
a.tabLink
{
  color:#022665;
  text-decoration:none;
}
a.tabLink:hover
{
  color:#CD0B3D;
  text-decoration:none;
}
.tab
{
  font-weight:bold;
  color:#022665;
  background-color:#BAD2F4;
  padding-left:12px;
  padding-right:12px;
  height:22px;
  border-left:1px solid #FFFFFF;
  border-right:1px solid #000000;
  border-bottom:1px solid #000000;
}
.currentTab
{
  font-weight:bold;
  color:#FFFFFF;
  background-color:#677BA8;
  padding-left:12px;
  padding-right:12px;
  height:22px;
  border-right:1px solid #000000;
  border-bottom:1px solid #000000;
  cursor:default;
}
.blankTab
{
  border-right:none;
  color: #CD0B3D;
}
.tablePad
{
  color:#000000;
  border: 0px solid #000000;
  margin-top:10px;
  padding:5px;
  width:98%;
}
.specialDropDown{
  /*background-color: #022665 #FFD39B;CD0B3D;FEEB55;FFCC00;C555A9*/
  color: #A83108;
  border:1px solid #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  background-color: #FFFFFF;
  width:150px;

}
.searchContainer
{
  color:#000000;
  border: 1px solid #000000;
  background-color:#EBEDF2;
  margin-top:10px;
  padding:5px;
  width:98%;
}

.searchContainer1
{
  color:#000000;
  border: 1px solid #000000;
  background-color:#EBEDF2;
  margin-top:10px;
  padding:5px;
  width:75%;
}
.searchContainerWithTab
{
  color:#000000;
  border: 1px solid #000000;
  border-top:none;
  background-color:#EBEDF2;
  margin-top:10px;
  padding:5px;
  width:98%;
}
.searchTabContainer{
  margin-top:5px;
  margin-bottom:-10px;
  width:98%;
}
.searchActiveTab{
  color:#041A68;
  font-size:10px;
  background-image:url(../images/ActiveTab.gif);
  height:17px;
  width:100px;
}
.searchInActiveTab{
  color:#000000;
  font-size:10px;
  background-image:url(../images/InActiveTab.gif);
  height:17px;
  width:100px;
}
.searchTabsBorder{
  border-bottom:1px solid #000000;
}
a.search
{
  cursor:hand;
  color:#000000;
  text-decoration:none;
}
a.search:hover
{
  cursor:hand;
  color:#CD0B3D;
  text-decoration:none;
}

.gridWithCheckBox
{
  border-top:1px solid #A0A8BB;
  border-right:1px solid #A0A8BB;
  border-bottom:1px solid #A0A8BB;
  width:98%;
  margin-top:10px;
  text-align:left;
}
.gridWithCheckBox td
{
  border-left:1px solid #A0A8BB;
  padding:1px;
}
.gridWithCheckBox a
{
  color:#0C48A2;
}
.gridWithCheckBox a:hover
{
  color:#CD0B3D;
}
.gridHeader
{
  background-color:#677BA8;
  color:#FFFFFF;
  font-weight:bold;
  height:20px;
}
.gridHeader a
{
  color:#FFFFFF;
  text-decoration:none;
}
.gridHeader a:hover
{
  color:#FFFFFF;
  text-decoration:underline;
}
.gridHeaderHighlighted
{
  background-color:#677BA8;
  color:#fffc00;
  font-weight:bold;
  height:20px;
}
.gridOddRow
{
  background-color:#FFFFFF;
  height:20px;
}
.gridEvenRow
{
  background-color:#E6E9ED;
  height:20px;
}
.gridSpecialRow
{
  background-color:#f2ebb1;
  height:20px;
}
.gridTotal
{
  border-top:1px solid #FFFFFF;
  border-right:1px solid #FFFFFF;
  border-bottom:1px solid #FFFFFF;
  width:98%;
  margin-top:5px;
  text-align:left;
}
.gridTotal td
{
  border-left:1px solid #FFFFFF;
  padding:1px;
  padding-left:3px;
  padding-right:3px;
}
.buttonsContainer
{
  background-color:#FFFFFF;
  margin-top:20px;
  padding:5px 5px 5px 5px;
  width:98%;
}
.buttonsContainerGrid
{
  border-top: 1px solid #CCCCCC;
  background-color:#FFFFFF;
  margin-top:20px;
  padding:5px 5px 5px 5px;
  width:98%;
}
.buttonsSavetolistGrid
{
  border-top: 1px solid #CCCCCC;
  background-color:#FFFFFF;
  margin-top:5px;
  padding:7px 5px 5px 5px;
  width:97%;
}
.buttons
{
  background-color:#E6E9ED;
  color:#000000;
  height:19px;
  border:1px solid #555555;
  font-size:11px;
  padding-left:10px;
  padding-right:10px;
}
.buttonsHover
{
  color:#CD0B3D;
  cursor:hand;
 
}
.buttonsMedium
{
  background-color:#E6E9ED;
  color:#000000;
  width:100px;
  height:19px;
  border:1px solid #555555;
  font-size:11px;
  padding-left:10px;
  padding-right:10px;
}
.buttonsMediumHover
{
  color:#CD0B3D;
  cursor:hand;
 
}
.buttonsStandard
{
  background-color:#E6E9ED;
  color:#000000;
  width:140px;
  height:19px;
  border:1px solid #555555;
  font-size:11px;
  padding-left:10px;
  padding-right:10px;
}
.buttonsStandardHover
{
  color:#CD0B3D;
  cursor:hand;
 
}
.buttonsCopyWB
{
  background-color:#E6E9ED;
  color:#000000;
  height:19px;
  width:125px;
  border:1px solid #555555;
  font-size:11px;
  padding-left:10px;
  padding-right:10px;
}
.buttonsCopyWBHover
{
  color:#CD0B3D;
  cursor:hand;

}
.pageTitle
{
  color:#A83108;
  background-color:#EBEDF2;
  font-weight:bold;
  font-size:11px;
  border-bottom:1px solid #000000;
  margin-top:0px;
  padding-left:5px;
  height:23px;
  width:100%;
  text-align:left;
}
.pageTitleInfo
{
  color:#A83108;
  font-weight:bold;
  font-size:11px;
  margin-top:0px;
  text-align:left;
}
.pageTitleBg
{
  background-color:#EBEDF2;
}
.pageTitleHilite
{
  color:#A83108;
  background-color:#FFFF99;
  font-weight:bold;
  font-size:11px;
  border-bottom:1px solid #000000;
  margin-top:0px;
  padding-left:5px;
  height:23px;
  width:100%;
  text-align:left;
}
.errorContainer
{
  color:#FF0000;
  border: 1px solid #CCCCCC;
  background-color:#FFFFFF;
  margin-top:10px;
  padding:5px 5px 5px 5px;
  width:97%;
  text-align:left;
}
.successContainer
{
  color:#0000CC;
  border: 1px solid #CCCCCC;
  background-color:#FFFFFF;
  margin-top:10px;
  padding:5px 5px 5px 5px;
  width:97%;
  text-align:left;
}
.formContainer
{
  color:#000000;
  margin-top:0px;
  padding:3px;
  width:98%;
  text-align:left;
  background-color: #F0F0F0;
}

.formContainerWeblogin
{
  color:#000000;
  margin-top:0px;
  width:99%;
  text-align:left;
  margin: 0 auto;
  *margin-left:12px;
}

.formContainerWeblogin td{
	padding:1px;
	*padding:1px;
	text-align:left;
	}

.textAlignRight{
text-align:right !important;
}	
	
.formContainerWithoutPad
{
  color:#000000;
  padding:3px;
  width:98%;
  text-align:left;
}
.mandatorySymbol
{
  color:#FF0000;
  font-size:10px;
}
.mandatoryInfo
{
  color:#000000;
  font-size:10px;
  font-weight:normal;
  padding-right:5px;
}
.formLabel
{
  color:#000000;
  border-bottom:0px dotted #CCCCCC;
  padding:5px;
}
/*kocnewhosp*/
.formLabel_new a:link
{
	text-decoration:none;
}
.formLabel_new a:hover
{
	text-decoration:none;
}
.formLabel_new a:active
{
	text-decoration:none;
}
#ttl_1,#ttl_2,#ttl_3,#ttl_4,#ttl_5,#ttl_6,#ttl_7
{
	display:none;
}
.left_align
{
	padding:1px;
	*padding:1px;
	text-align:left;
}
.indentedLabels{
 padding-left:14px;
}

.labelTopBotPadding{
padding:5px 0 !important;
	}
.formLabelWeblogin
{
  color:#000000;
  border-bottom:0px dotted #CCCCCC;
  margin: 5px;
}

.formLabelspecial
{
  color:#041A68;
}
.legends
{
  font-size:10px;
  color:#495879;
}
.fieldGroupHeader
{
  color:#041A68;
  font-weight:bold;
  height:19px;
  padding-bottom:5px;

}


.fieldGroupTabHeader
{
	 color: #000000;
    background-color: #BAD2F4;
  font-weight:bold;
  height:19px;
  padding-bottom:5px;
    border-radius: 10px 10px 10px 10px;
}

.fieldGroup
{
  background-color: #FFFFFF;
  border-top:1px solid #CCCCCC;
  border-bottom:1px solid #CCCCCC;
}
.fieldGroupPad
{
  margin-bottom:10px;
}
.fieldSubGroupHeader
{
  color:#A83108;
  font-weight:normal;
  padding-top:10px;
  padding-bottom:5px;
}
.webBoardList
{
  /*background-color: #022665 #FFD39B;CD0B3D;FEEB55;FFCC00;C555A9*/
  color:#FFFFFF;
  background-color:#022665;
  border:1px solid #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight:bold;
      height: 20px;
}
*+html .webBoardList{
	height: 20px;
}
.webBoard
{
  padding-right:7px;
  font-size:10px;
  font-weight:normal;
  color:#000000;
}
.contentArea
{
  overflow:scroll;
  overflow-x:hidden;
  width:99%;
  height:90%;
  padding:0px 0px 0px 7px;
  scrollbar-face-color: #BAD2F4;
  scrollbar-shadow-color: #F0F2F8;
  scrollbar-darkshadow-color: #8290A2;
  scrollbar-highlight-color: #F0F2F8;
  scrollbar-3dlight-color: #CED3D8;
  scrollbar-track-color: #F0F2F8;
  scrollbar-arrow-color: #022665;
  padding-top:5px;
}
.contentArea1
{
  overflow:scroll;
  width:99%;
  height:600px;
  padding:0px 0px 0px 7px;
  scrollbar-face-color: #BAD2F4;
  scrollbar-shadow-color: #F0F2F8;
  scrollbar-darkshadow-color: #8290A2;
  scrollbar-highlight-color: #F0F2F8;
  scrollbar-3dlight-color: #CED3D8;
  scrollbar-track-color: #F0F2F8;
  scrollbar-arrow-color: #022665;
}
.contentAreaHScroll
{
  overflow:scroll;
  width:99%;
  padding:0px 0px 0px 7px;
  scrollbar-face-color: #BAD2F4;
  scrollbar-shadow-color: #F0F2F8;
  scrollbar-darkshadow-color: #8290A2;
  scrollbar-highlight-color: #F0F2F8;
  scrollbar-3dlight-color: #CED3D8;
  scrollbar-track-color: #F0F2F8;
  scrollbar-arrow-color: #022665;
}
.scrollableGrid
{
  overflow:scroll;
  overflow-x:hidden;
  width:97%;
  height:120px;
  padding:0px 0x 0px 7px;
  scrollbar-face-color: #BAD2F4;
  scrollbar-shadow-color: #F0F2F8;
  scrollbar-darkshadow-color: #8290A2;
  scrollbar-highlight-color: #F0F2F8;
  scrollbar-3dlight-color: #CED3D8;
  scrollbar-track-color: #F0F2F8;
  scrollbar-arrow-color: #022665;
}
.scrollableGridCalc
{
  padding:0px 0x 0px 7px;
  width:98%;
  text-align:left;
}
.zeroMargin
{
  margin-top:0px;
}
.textDate
{
  width:75px;
}
.textDateNewDesign
{
  width:85px;
}
.checkBox{
	margin: 0;
	padding: 0;
}
.textTime
{
  width:50px;
}
.textAreaLong
{
  width:563px;
  height:35px;
  resize: none;
  overflow-y: scroll;
}
.textAreaMedium
{
  width:250px;
  height:25px;
   resize: none;
  overflow-y: scroll;
}
.textAreaLongHt
{
  width:600px;
  height:40px;
  resize: none;
  overflow-y: scroll;
   
}
.textAreaMediumht
{
  width:450px;
  height:25px;
   resize: none;
  overflow-y: scroll;
}
.textAreaMediumhtDisabled
{
  border:1px solid #AAAAAA;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666666;
  background-color: #EEEEEE;
  height:25px;
}
.formLabelBold
{
   color:#000000;
   font-size:11px;
  font-weight:bold;
}
.textLabelBold
{
   color:#000000;
   font-size:11px;
  font-weight:bold;
}
a.textLabelBold
{
  color:#000000;
   font-size:11px;
  font-weight:bold;
  text-decoration:none;
}
a.textLabelBold:hover
{
  color:#CD0B3D;
  font-weight:bold;
  text-decoration:underline;
}
.textBoxExtraLarge
{
  width:309px;
}
.bottomPad
{
  height:8px;
}

/* DHTML Drop Down and Tree */
.specialGridHeader
{
  padding:3px 3px 3px 5px;
  background-color:#EEEEEE;
  font-weight:bold;
  border-bottom:1px solid #CCCCCC;
}

a.specialGridHeader
{
  font-weight:bold;
  text-decoration:none;
  padding:0px;
  border:0px solid;
  color:#000000;
  text-decoration:underline;
}
a.specialGridHeader:hover
{
  color:#CD0B3D;
  font-weight:bold;
  text-decoration:underline;
}
.specialSubGridHeader
{
  padding:3px 3px 3px 5px;
  background-color:#f8f8f8;
  font-weight:bold;
  border-bottom:1px solid #CCCCCC;
}
.specialGridRow
{
  padding:0px 3px 3px 25px;
  background-color:#FFFFFF;
  font-weight:normal;
  border-bottom:1px solid #CCCCCC;
}
.rcContainer
{
  width:85%;
}
.rcDiv
{
  width:580px;
}
*+html .dropimge {
	margin: 0 0 0 2px;
}
.rcBorder
{
  border:1px solid #CCCCCC;
}

.rcBorderWeblogin
{
  border:1px solid #CCCCCC;
  padding: 0;
}

.rcIcons
{
  background-color:#EEEEEE;
  padding:3px;
}

.rcDropDownDiv
{
  position:absolute;
  /*left:229px;
  top:252px; */
  margin-top: 1px;
  background-color:#FFFFFF;
  height:150px;
  width:568px;
  overflow:scroll;
  overflow-x:hidden;
  border:1px solid #CCCCCC;
}
.rcText
{
  padding:3px 3px 3px 5px;
}
.rcDropDownText
{
  border-bottom:1px solid #CCCCCC;
  padding:5px;
  background-color:#FFFFFF;
}
.rcDropDownTextHover
{
  border-bottom:1px solid #CCCCCC;
  padding:5px;
  background-color:#FFD39B;
}
.rcLastLevel
{
  border-left:1px solid #CCCCCC;
  border-right:1px solid #CCCCCC;
  width:95%;
}
.rcLastLevelText
{
  border-bottom:1px solid #CCCCCC;
  padding:3px 3px 3px 5px;
}
.redText
{
  color:#FF0000;
  border-bottom:1px solid #CCCCCC;
  padding:3px 3px 3px 5px;
}

.rcLastLevelIcons
{
  background-color:#EEEEEE;
  border-bottom:1px solid #CCCCCC;
  padding:3px 3px 3px 5px;
}
/* ----------------- */
textarea
{
  scrollbar-face-color: #BAD2F4;
  scrollbar-shadow-color: #F0F2F8;
  scrollbar-darkshadow-color: #8290A2;
  scrollbar-highlight-color: #F0F2F8;
  scrollbar-3dlight-color: #CED3D8;
  scrollbar-track-color: #F0F2F8;
  scrollbar-arrow-color: #022665;
}
.fileUpload
{
  height:18px;
  width:225px;
}
.textAreaLarge
{
  width:580px;
  height:100px;
  resize: none;
  overflow-y: scroll;
}
.textAreaLarge10Lines
{
  width:700px;
  height:260px;
   resize: none;
  overflow-y: scroll;
}
.textAreaLargeMedium
{
  width:580px;
  height:60px;
   resize: none;
  overflow-y: scroll;
}
.textAreaStandard
{
	width:580px;
	height:36px;
	 resize: none;
  overflow-y: scroll;
}
.textAreaSingleLine
{
	width:580px;
	height:22px;
	 resize: none;
  overflow-y: scroll;
}
.paddedGridCell
{
  padding-left:25px;
  background-color:#FFFFFF;
  font-weight:normal;
  border-bottom:1px solid #CCCCCC;
}
fieldset
{
  width:97%;
  border:1px solid #CCCCCC;
  padding-top:0px;
  padding-bottom:10px;
}
.UGSmall
{
  width:50%;

}
fieldset legend
{
  color:#041A68;
  font-weight:bold;
  padding:5px;
}
.fieldHeader
{
  color:#041A68;
  font-weight:bold;
  padding:5px;
}
.comparisonDiscrepancy
{
  color:#FF0000;
  font-weight:bold;
}
.labelRed
{
  color:#FF0000;
  font-weight:normal;
}
.labelBlue
{
  color:#0000FF;
  font-weight:normal;
}
.icons{
  margin-top:2px;
}

.generaltext{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
}
.rowSeparator
{
  border-top:1px solid #CCCCCC;
}
.fullcontentArea
{
  overflow:scroll;
  overflow-x:hidden;
  width:99%;
  padding:0px 0px 0px 7px;
  scrollbar-face-color: #BAD2F4;
  scrollbar-shadow-color: #F0F2F8;
  scrollbar-darkshadow-color: #8290A2;
  scrollbar-highlight-color: #F0F2F8;
  scrollbar-3dlight-color: #CED3D8;
  scrollbar-track-color: #F0F2F8;
  scrollbar-arrow-color: #022665;
}
.imgBorder
{
  border:1px solid #000000;
}
.subHeader
{
  color:#041A68;
  font-weight:bold;
}
.fieldSmall
{
  margin-left:4px;
}

.noBorder
{
  border:0px solid #000000;
}

li a
{
  color:#0C48A2;
  text-decoration:none;
}
li a:hover
{
  color:#CD0B3D;
  text-decoration:none;
}
.liPad
{
  padding-bottom:10px;
}
.liBotMargin
{
  margin-bottom:-10px;
}
a.specialrow
{
  color:#0C48A2;
  text-decoration:none;
}
a.specialrow:hover
{
  color:#CD0B3D;
  text-decoration:underline;
}

a.fieldGroupHeader
{
  color:#041A68;
  text-decoration:none;
}
a.fieldGroupHeader:hover
{
  color:#CD0B3D;
  text-decoration:underline;
}
.waitmsg{
  background-color: #EBEDF2; /* FFFFB2 EEB81E BAD2F4 EBEDF2 */
  border:1px solid #000000;
}
.leftPad{padding-left:20px;}
.leftMorePad{padding-left:30px;}
.botBorder{border-bottom:1px solid #CCCCCC;}
.UGTable{margin-left:5px;margin-right:5px;width:95%;}
.RupeesAlign{margin-top:-16px;margin-left:142px;}

<!--Divs-->
.mainGridContainer
{
  width:100%;
  margin-left:-25px;
}
.cnt-pol-det{
  width:23%;
  margin-top:20px;
  float:left;
  margin-left:1%;
  border-top:1px solid #A0A8BB;
  border-left:1px solid #A0A8BB;
  border-right:1px solid #A0A8BB;
  border-bottom:1px solid #A0A8BB;
  text-align:left;
}
.cnt-pol-1{
  width:25%;
  margin-top:20px;
  float:left;
  border-top:1px solid #A0A8BB;
  border-right:1px solid #A0A8BB;
  border-bottom:1px solid #A0A8BB;
  text-align:left;
}
.cnt-pol-2{
  width:25%;
  margin-top:20px;
  float:left;
  border-top:1px solid #A0A8BB;
  border-right:1px solid #A0A8BB;
  border-bottom:1px solid #A0A8BB;
  text-align:left;
}
.cnt-pol-3{
  width:23%;
  margin-top:20px;
  float:right;
  margin-right:1%;
  border-top:1px solid #A0A8BB;
  border-right:1px solid #A0A8BB;
  border-bottom:1px solid #A0A8BB;
  text-align:left;
}
.colPad
{padding-left:3px; padding-top:3px;}
.extraPadding
{margin:0px;padding:4px;height:17px;}
-->

/******************* START: Calendar ***********************/

div#calendarObj {
 /*background-color:transparent;*/
 padding:0px;
 margin: 0px;
}
#calendar{
 border: 0px solid red;
 position:absolute;
 left:0px;
 top:0;
 display:none;
 z-index:1000;
 margin: 0px;
 padding: 0px;
}
div#calendarObj a {
  text-decoration: none;
  color: #000000;
  font-weight: normal;
}


/* --------------------------Grid with Horizontal ScrollBar---------------------------------*/
#scrollableGrid {
  margin-left:8px;
  width:500px;
  overflow-x:scroll;
  overflow-y:hidden;
  scrollbar-face-color: #BAD2F4;
  scrollbar-shadow-color: #F0F2F8;
  scrollbar-darkshadow-color: #8290A2;
  scrollbar-highlight-color: #F0F2F8;
  scrollbar-3dlight-color: #CED3D8;
  scrollbar-track-color: #F0F2F8;
  scrollbar-arrow-color: #022665;
}

/* --------------------------Grid with Horizontal ScrollBar---------------------------------*/
.loginBodyBg
{
background-color:#edf4ff;
}
.loginText
{
font-size:11px;
font-weight:bold;
height:25px;
}
.loginPageBg{
background-image:url(../images/loginPageBg_plain.jpg);
height:428px;
width:779px;
}

.borderTop td{
  border-top: 1px solid #cccccc;
}
.borderBottom td{
  background-color: #eeeeee;
  border-bottom: 1px solid #cccccc;
}
#login{
	width: 779px;
}
#loginTop{
	background-image: url(../images/loginTop.jpg);
	background-repeat: no-repeat;
	background-color: #ececed;
	height: 249px;
}
#loginBottom{
	background-image: url(../images/loginGradient.gif);
	background-repeat: repeat-x;
	padding: 0px;
	margin: 0px;
	border: 1px solid #002f72;
	border-top: 16px solid #002f72;
	border-bottom: 10px solid #ab0419;
}
#logoCntr{
	width: 51%;
	padding-left: 2px;
	padding-top: 10px;
}
.loginPageTitle{
	height: 31px; width: 200px; font-weight: bold; color: #FFFFFF; text-transform: uppercase; font-size: 11px;
}
.order li{
 padding-top:5px;
 padding-bottom:5px
}
.gridBillRow
{
	background-color:#BAD2F4;
	height:20px;
	border-top:1px solid #999999;
}
.strikeText{
color:#A83108;
}
.popupSubHeading{
	font-weight:bold;
	background-color:#DDDDDD;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	padding:3px;
	}
.loginText
{
	font-size:12px; 
	font-weight:bold; 
	height:25px;
}

.bulletListing{
 margin:0;
 padding:0 20px;

 }
.bulletListing li{
 padding:4px;
 margin:0;
 list-style-type:disc;
 }
 
.olbtn {
    border: none;
    outline:none;
    border-radius: 10px;
    background: #0F75BC;
    padding: 1px; 
    width: 100px;
    height: 22px;
    color: #FFFAF0;  
    box-shadow: 3px 3px 2px #888888;  
   
     
}

.olbtnSmall {
    border: none;
    outline:none;
    border-radius: 7px;
    background: #0F75BC;
    padding: 1px; 
    width: 70px;
    height: 22px;
    color: #FFFAF0; 
    box-shadow: 3px 3px 2px #888888;   
}

.olbtnLarge {
    border: none;
    outline:none;
    border-radius: 10px;
    background: #0F75BC;
    padding: 1px; 
    width: 150px;
    height: 22px;
    color: #FFFAF0; 
    box-shadow: 3px 3px 2px #888888;   
}

.olbtnLarge:hover{
color: #FFA5F0;
cursor: pointer;
}	
.olbtn:hover{
color: #FFA500;
cursor: pointer;
}	
.olbtnSmall:hover{
color: #FFA500;
cursor: pointer;
}

#healthTip{
border: 3px solid green;
height: 100px;
width: 450px;
margin-left: 20px;
padding-top: 10px;
padding-left: 3px;
font-size: 14px;
background-color: cornsilk;
}
#imgAncMedium{
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: blue;
}
#imgAncMedium:HOVER {
	color: green;
}
#imgAncSmall{
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: blue;
}
#imgAncSmall:HOVER {
	color: green;
}
#imgAncLarge{
	font-size: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: white;
}
#imgAncLargeClicked{
	font-size: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: orange;
}

#imgAncLarge:HOVER {
	color: orange;
}
#liTabs{
border: 0;
border-radius: 10px;
padding: 10px 15px 10px 15px;
text-align: center;
font-family: Verdana, Arial, Helvetica, sans-serif;
 background-color: #91C85F;
 width: 170px;
 margin-top: 5px;
}
#sideHeading{
 border: 0px solid #91C85F;
    padding: 8px 20px 8px 5px; 
    background-color: #91C85F;
    color: white;
    width: 300px;
font-size: 20px;
text-align: center;    
border-top-right-radius:2em;
border-bottom-right-radius:2em;
margin-top: 20px;
margin-left: -3px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
/* rama */
#sideHeadingMedium{
 border: 0px solid #91C85F;
    padding: 6px 12px 5px 3px; 
    background-color: #91C85F;
    color: white;
    width: 200px;
font-size: 17px;
text-align: center;    
border-top-right-radius:2em;
border-bottom-right-radius:2em;
margin-top: 10px;
margin-left: -3px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
/* rama */
#sideHeadingSmall{
 /* border: 0px solid #91C85F; */
    border: #19d2f4;
    padding: 4px 10px 4px 2px; 
    /* background-color: #91C85F; */
    background-color: #677ba8;
    color: white;
    width: 160px;
font-size: 15px;
text-align: center;    
border-top-right-radius:2em;
border-bottom-right-radius:2em;
margin-top: 8px;
margin-top: 10px;
margin-left: -10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
/* rama */
#sideHeadingTooSmall{
 border: 0px solid #91C85F;
    padding: 2px 5px 2px 2px; 
    background-color: #91C85F;
    color: white;
    width: 110px;
font-size: 13px;
text-align: center;    
border-top-right-radius:2em;
border-bottom-right-radius:2em;
margin-top: 4px;
margin-left: -9px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
#healthTip{
border: 3px solid green;
height: 100px;
width: 450px;
margin-left: 20px;
padding-top: 10px;
padding-left: 3px;
font-size: 14px;
background-color: cornsilk;
}
table#textTable{
margin-left: 20px;
width: 500px;
}
table#textTable,table#textTable tr td{
border: 1px solid white;
background-color: #F0F0F0;
border-collapse: collapse;
}

table#textTable tr td{
text-align:center;
font-size: 18px;
padding: 20px;
}
#hexagonLinks{
list-style: none;
}
#textTable2{
margin-left: 10px;
width: 750px;
border: 1px solid white;
}
table#textTable2,table#textTable2 tr td{
border: 1px solid white;
background-color: #F0F0F0;
border-collapse: collapse;
}
table#textTable2 tr td{
text-align:center;
font-size: 14px;
padding: 10px;
}
table#textTable2 tr th{
text-align:center;
font-size: 14px;
padding: 10px;
}
#tableCaption{
	font-size: 16px;
	font-weight: bold;
}
#textTableTooSmall{
margin-left: 30px;
width: 350px;
border: 1px solid white;
background-color: #F0F0F0;
border-collapse: collapse;
}
#textTableTooSmall tr th{
	text-align:left;
	font-size: 14px;
    padding: 10px;
    border-collapse: collapse;
    border: 1px solid white;
}
#textTableTooSmall tr td{
	text-align:left;
	font-size: 14px;
    padding: 10px;
    border-collapse: collapse;
    border: 1px solid white;
}
#textTableSmall{
margin-left: 30px;
width: 500px;
border: 1px solid white;
background-color: #F0F0F0;
border-collapse: collapse;
}
#textTableSmall tr th{
	text-align:left;
	font-size: 14px;
    padding: 10px;
    border-collapse: collapse;
    border: 1px solid white;
}
#textTableSmall tr td{
	text-align:left;
	font-size: 14px;
    padding: 10px;
    border-collapse: collapse;
    border: 1px solid white;
}
#textTableLarge{
margin-left: 5px;
margin-right: 1px;
width: 100%;
border: 1px solid white;
background-color: #F0F0F0;
border-collapse: collapse;
}
#textTableLarge tr th{
	text-align:center;
	font-size: 12px;
    padding: 8px;
    border-collapse: collapse;
    border: 1px solid white;
}
#textTableLarge tr td{
	text-align:center;
	font-size: 12px;
    padding: 8px;
    border-collapse: collapse;
    border: 1px solid white;
}
#ulLiAnc{
margin-left: 20px;
	}
#ulLiAnc li a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: green;
	font-size: 17px;
	padding: 6px;
}
#ulLiAnc li a:HOVER{
	color: blue;
}
.accessLetter{
	text-decoration: underline;
}
.selectBoxWebLoginSize1{
	 border:1px solid #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  width: 230px;
  height: 20px;
}
.disabledfieldType{
	font-size: 11px;
	color: #A9A9A9;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top:1px solid black; 
	border-bottom: 1px solid black;
}
.searchBox{
	width: 300px;
	height: 22px;
	background:white url(../images/search.png) no-repeat 3px 2px;
	padding-left:17px;
}
.searchBoxMoreMedium{
	width: 190px;
	height: 22px;
	background:white url(../images/search.png) no-repeat 3px 2px;
	padding-left:17px;
}
.searchBoxTooLarg{
	width: 650px;
	height: 22px;
	background:white url(../images/search.png) no-repeat 3px 2px;
	padding-left:17px;
}

.sdMainDiv{
position: absolute;
}
.sdPageLink{
padding: 1px;
border: 1px solid gray;
background-color: #c0e710;
color: gray;
display: inline;
font-size: 11px;
}
.sdCurrentPageLink{
padding: 1px;
border: 1px solid gray;
background-color: #bdb76b;
color: blue;
display: inline;
font-size: 11px;
max-width:5px; 
}
.sdPageBackward{
padding: 1px;
border: 1px solid gray;
background-color: #c0e710;
color: gray;
display: inline;
font-size: 11px;
font-weight: bold;
}
.sdPageBackward:HOVER{
color: blue;
cursor: pointer;
}

.sdPageForward{
padding: 1px 2px 1px 2px;
border: 1px solid gray;
background-color: #c0e710;
color: gray;
display: inline;
font-size: 11px;
font-weight: bold;
}

.sdPageForward:HOVER{
color: blue;
cursor: pointer;
}

.sdPageLink:HOVER {
	color: blue;
	cursor: pointer;
}
.sdPageLinks{
padding: 0;
border: 0;
width: 200px;
}
.sdTextDiv{
padding: 1px;
border: 1px solid gray;
font-size: 11px;
font-stretch: 
}
.sdTextDiv:HOVER {
	color: blue;
	font-weight: bold;
	cursor: pointer;
}
.sdmTextDiv{
background-color: rgb(91, 204, 128);
 overflow-x: hidden; 
 overflow-y: scroll;
height: 70px;
}

.textBoxTooSmall{
	width: 40px;
}
.textBoxMoreMedium{
	width: 180px;
}
.textBoxDate{
	width: 80px;
}
.sdCloseBtn{
	cursor: pointer;
	padding: 2px;
	color: blue;
	display: inline;
	font-size: 11px;
	text-align: right;
    background-color: #c0e710;
    border: 1px solid gray;
    box-shadow: 3px 3px 2px #888888;
    border-radius: 8px;
}
.sdCloseBtn:HOVER {
	color: red;
}
.DisabledTextBox
{
  border:1px solid #AAAAAA;  
  color: #666666;
  background-color: #EEEEEE;
  height:14px;
}
.sub_heading {
    color: rgb(255,255,255);
    background-color: rgb(67, 128, 74);/* 186,210,244 */
    text-align: left;
    padding: 5px 16px;
    text-decoration: none;
    margin-left: 0px;
    margin-top: 10px;
    width: 20%;
    margin-bottom: 3px;
    border: 1px solid rgb(25,210,244);
    white-space: nowrap;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 10px 10px 10px 10px;
    font-size: 15px;
}

.boxWithLine {
    border: none;
    outline:none;
    border-radius: 10px;
    background: #0F75BC;
    padding: 1px; 
    width: 150px;
    height: 22px;
    color: #FFFAF0; 
    box-shadow: 3px 3px 2px #888888;   
}
.searchSbtn{
	padding: 0;
	border: none;
	background: none;
}
.searchSbtn:HOVER {
	cursor:pointer;
	color: red;
}
.olbtnMedium {
    border: none;
    outline:none;
    border-radius: 7px;
    background: #0F75BC;
    padding: 1px; 
    width: 115px;
    height: 22px;
    color: #FFFAF0; 
    box-shadow: 3px 3px 2px #888888;   
}